.letter {
  position: relative;
  text-align: center;
  background-color: white;
  margin: auto;
  font-size: 340px;
  line-height: 0.8;
}

@media (min-width: 576px) {
  .letter {
    font-size: 60vh;
    max-height: 55vh;
  }
}

.overlay-enter .letter{
  transform: scale(0.8);
}

.overlay-enter.overlay-entering .letter{
  transform: scale(1);
  transition-duration: 300ms;
  transition-delay: 300ms;
}

.letter-card {
  margin-top: 24px;
  font-size: 280px;
}

letter-card .badge{
  display: none;
}
