.letter-showcase {
  background-color: white;
  min-height: 100vh;
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 100;
}

.alphabet-is-closing {
  top:20px;
  bottom:20px;
  left: 20px;
  right: 20px;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top:12px;
  right: 12px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  line-height: 32px;
  background-color: grey;
  z-index: 2;
}

.information {
  position: absolute;
  top:12px;
  left: 12px;
  z-index: 2;
  font-family: 'Fira Mono', monospace;
}

/*
.close-button:before {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 25px;
  margin-left: 25px;
  display: block;
  height: 50px;
  width: 50px;
  background-color: black;
}

.close-button:after {
  transform: rotate(45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 25px;
  margin-left: 25px;
  display: block;
  height: 50px;
  width: 50px;
  background-color: black;
} */