.slideshow-item {
  width: 100%;
  height: calc(100vh - 100px);
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.slideshow-content {
  text-align: center;
  width: 500px;
  height: 300px;
  background-color: white;
  margin: auto;
  font-size: 340px;
  line-height: 0.8;
}